<!DOCTYPE html PUBLIC>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <link rel="stylesheet" href="../../test.css" />
  <link rel="stylesheet" href="../../960.css" />
  <link rel="stylesheet" href="../../app.css" />
  <title>Shipping Address</title>
</head>
<body ng-app="linkToCart" ng-controller="cartLinkCtrl">
  <div class="content">
    <div class="header">
      <div class="logo"><img src="../../images/02.png" alt="img" /></div>
      <div class="search" id="header-right-top">
        <div class="Currencies">Currencies:</div>
        <div class="US">
          <form>
            <select>
              <option disabled="disabled">Currencies</option>
              <option value="US Dollar">US Dollar</option>
              <option value="Euro">Euro</option>
            </select>
          </form>
        </div>
        <div class="Lang">Language:</div>
        <div class="eng">
          <form>
            <select>
              <option disabled="disabled">Language</option>
              <option value="English">English</option>
              <option value="German">German</option>
            </select>
          </form>
        </div>
        <div class="shop">
          <p class="text">
            <a href="/orders">My Orders</a>|<a href="/customers/update/shipping">Shipping Data</a>|<a href="registration">Register</a>|<a href="login">Log In</a>
          </p>
        </div>
        <a href="./cart" ng-bind="cartLinkText" id="cartLink">{{ cartLinkText }}</a>
      </div>
    </div>
    <div class="clear"></div>
    <div class="nav">
      <div class="nav1">
        <a href="/">Homepage</a>|<a href="/products">Products</a>|<a href="">Specials</a>|<a href="#">Reviews</a>|<a href="">Contact us</a>
      </div>
      <div class="form">
        <form method="post" id="searchBox">
          <input name="textfield" type="text" class="colortext"  placeholder=" Search entire store..." id="searchText"/>
          <input type="submit" id="searchbutton" value="Search">
        </form>
      </div>
    </div>
    <div class="form-container">
      <form id="registration-form" method="post">
        <fieldset>
          <h2 class="form-label">Register Here</h2>
          <div class="input-div">
            <label for="first_name" class="input-label">First Name</label>
            <input id="first_name" name="first_name"/>

          </div>
          <div class="input-div">
            <label for="last_name" class="input-label">Last Name</label>
            <input id="last_name" name="last_name"/>

          </div>
          <div class="input-div">
            <label for="email" class="input-label">Email</label>
            <input id="email" name="email"/>
          </div>
          <input type="submit" id="registration-button" value="Register" class="submit-button">
        </fieldset>
      </form>
    </div>
  </div>
  <div class="footer">
    <div class="foot1"><p class="text6"><a href="/orders">My Orders </a> &nbsp;  |&nbsp; <a href="/customers/update/shipping">   Shipping Data </a>  &nbsp; |&nbsp;<a href="#">    Reviews </a>  &nbsp; |&nbsp; <a href="registration">   Register </a> &nbsp;  | &nbsp;<a href="/login">   Log In</a></p>
    </div>
    <div class="foot2">
      <div class="v">
        <p class="text6">Copyright © 2017 Music Store &nbsp;  <a href="">  Privacy Notice </a>   &nbsp;| &nbsp;   <a href=""> Conditions of Use</a></p>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="javascripts/store.js"></script>
  <script src="javascripts/cart.js"></script>
  <script src="javascripts/linkToCart.js"></script>
</body>
</html>
